*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, .75);
    line-height: 1.4;
    background-color: #fbfbfe;
}
a
{
    color: inherit;
    text-decoration: none;
}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firefox_logo{
    display: block;
    width: 80px;
    margin: 0 auto;
}

.main{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container
{
    width: 1050px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8em;
}

.content
{
    width: 480px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 10px #e2e4ec;
    padding:  2.5em;
    position: relative;
    font-size: 15px;
    font-weight: 300;
}
.content .firefox_logo_container
{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
    margin: 0 auto;
}
.content .intro,
.graphic_mail_contaier
{
    text-align: center;
}
.content .intro{
    margin: 1em 0;
}
.content .intro h1{
    font-weight: 400;
    font-size: 24px;
}
.graphic_mail_contaier .graphic_mail
{
    display: block;
    width: 200px;
}

.content .description
{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.form,
.submit_container
{
    width: 100%;
}
.form .form-control
{
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin-bottom: 1.2em;
}
::placeholder
{
    color: rgba(0, 0, 0, .6);
}

button.submit
{
    width: 100%;
    padding: .8em;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: 1px solid #0060df;
    background-color: #0060df;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 1.4em;
    cursor: pointer;
    transition: background-color .3s;
}
button.submit:hover
{
    background-color: #0045a0 ;
}
footer a
{
    color: #0060df;
    outline: none;
}
footer a:hover
{
    text-decoration: underline;
}

.mozila_link
{
    background-color: #000;
    color: #fff;;
    align-self: flex-start;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mozila_link a
{
    padding: .1em .2em;
}


@media only screen and (max-width: 520px)
{
    .main
    {
        padding: 0;
    }
    .container
    {
        max-width: 100%;
        width: 100%;
        padding:  0 10px;
    }
    .content
    {
        width: 100%;
    }
}